@font-face {
  font-family: 'Recursive Sans Linear Light';
  src: url('/Users/carlos/code/projects-2025/font-inspector/Recursive_VF_1.085.woff2');
  font-weight: 300 1000;
  font-style: oblique -15deg 0deg;
  font-display: swap;
  font-variation-settings: 'MONO' 0, 'CASL' 0, 'wght' 300, 'slnt' 0, 'CRSV' 0.5000076295109483;
  ascent-override: 95.0000%;
  descent-override: 25.0000%;
  line-gap-override: 0.0000%;
}